@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
a{
    color: none;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    padding-top: 112px;
    overflow-x: hidden;
}
.head-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
}
.first-head-container{
    display: flex;
    height: 72px;
    width: 100%;
    padding: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border: 0 solid black;
    outline: none;
}
.apollo-logo{
    height: 2.3rem;
    width: 5.5rem;
}
.first-head-container-texts{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: right;
    padding: 1rem;
    margin: auto 0;
}
.head-container-texts-contact{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.head-container-texts-first-button{
    text-align: center;
}
.head-container-texts-first-button-apply{
    padding: 0.25rem 1.1rem;
    background-color: rgb(242, 114, 38);
    animation: blink 1s linear infinite;
    border-radius: 2rem;
    border: 0.1rem  solid red;
    color: white;
    font-weight: bold;
    transform: all 0.3s;
}
@keyframes blink {
    0%{ 
        background-color: rgb(242, 114, 38); 
      } 
      80%{ 
        background-color: yellow; 
      } 
      85%{ 
        background-color: blue;
      } 
      100%{
        background-color: green;
      }
}
.head-container-texts-second-button-schedule{
    padding: 0.35rem 1.1rem;
    background-color:rgb(255, 166, 1);
    border:  0.1rem  solid rgb(255, 166, 1);
    border-radius: 2rem;
    font-size: larger;
    font-weight: 50;
    opacity: 0.8;
    transform: all 0.3s;
    cursor: pointer;
}
.head-container-texts-second-button-schedule:hover {
    border:  0.1rem  solid red;
    background-color: transparent;
}
.head-container-texts-third-button-vactination{
    padding: 0.25rem 1.1rem;
    background-color: rgb(242, 114, 38);
    animation: blink 1s linear infinite;
    border-radius: 2rem;
    border: 0.1rem  solid red;
    color: white;
    font-weight: bold;
    transform: all 0.3s;
    cursor: pointer;
}
.head-container-texts-contact{
    display: flex;
    gap: 1rem;
}
.head-container-texts-contact-dial{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
}
.phone-logo{
    height: 1.7rem;
    width: 1.7rem;
}
.head-container-texts-contact-social{
    opacity: 0.5;
    height: 23px;
    width: 23px;
}
.menu_section{
    display: none;
}
.menu_button{
    outline: none;
    background-color: transparent;
    padding: 0.2rem;
    border: 0 solid black;
}
.second_head_container{
    background-color: #007b9a;
    width: 100vw;
    height: 40px;
    top: 72px;
}
.second_head_container_nav_section{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0.56rem;
}
.second_head_container_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.second_head_container_nav_content{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
}
.menu_bar_section{
    max-width: 100vw;
    height: 100vh;
    position: fixed;
    top: 72px;
    right: 0px;
    z-index: 1;
    display: none;
}
.menu_bar_content{
    background-color: #097fa0;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 0 2rem;
}
.menu_bar_items{
    text-align: left;
    font-size: larger;
    color: white;

}
.menu_bar_items:hover{
    color: orange;
}
@media screen and (max-width: 1200px) {
    body{
        padding-top: 0px;
    }
    .head-container{
        position: relative;
    }
    .first-head-container-texts{
        display: none;
    }   
   
    .second_head_container{
        display: none;
    }

    .menu_section{
        display: block;
    }
    .first-head-container{
        justify-content: space-between;
        padding: 0 1rem;
    }
}
.visual_form_section{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
}
.visual_bg_image_section{
    width: 100%;
}
.first_image_container{
    max-width: 100%;
    object-fit: fill;
}
.form_card_section{
    background-color: white;
    position: absolute;
    right: 8rem;
    width: 300px;
    top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid rgb(119, 114, 114);
    border-radius: 10px;
    box-shadow: 0 0 7px 5px  rgb(172, 167, 167);
}
.book_details_form{
    border: 0px solid;
    border-bottom: 1px solid rgb(95, 92, 92);
    padding: 5px;
    font-size: 16px;
    font-weight: lighter;
}
.enquiry_button{
    padding: 0.5rem;
    background-color: #007b9a;
    color: white;
    font-weight: bold;
    border:0px solid;
    border-radius: 5px;
    width: 7rem;
}
.book_details_form:focus{
    outline: none;
    border-bottom: 2px solid black;
}
.enquiry_second_button{
    padding: 0.5rem;
    background-color:rgb(242, 114, 38);
    color: white;
    font-size: large;
    font-weight: bold;
    border:0px solid;
    border-radius: 5px;
    width: 12rem;
    display: none;
}
.first_flex_card_section{
    width: 100%;
}
.first_flex_card_div{
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 7rem auto;
}
.first_flex_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    border-right: 1px solid rgb(172, 169, 169);
    padding: 0.5rem;
    height: 12rem;
}
.first_flex_card_image{
    height: 3rem;
    width: 3.3rem;
}
.first_flex_card_heading{
    font-weight: bold;
    color: rgb(78, 77, 77);
    font-size: large;
}
.first_flex_card_details{
    color: rgb(110, 110, 110);
    font-size: medium;

}
.first_flex_card_button{
    background-color: lightgrey;
    font-size: small;
    color: rgb(100, 99, 99);
    padding: 0.5rem 0.7rem;
    border-radius: 19px;
    border: 0px solid;
    animation: slideFromBottom 0.35s linear forwards;
    display: none;
}
.first_flex_card_button:hover{
    color: #0582a1;
}
@keyframes slideFromBottom {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.first_flex_card:hover{
    .first_flex_card_button{
        display: block;
    }
   
}
.first_flex_card:last-child{
    border-right: 0px solid;
}
.middle_section{
    background-color: rgb(241, 237, 237);
    position: relative;
    width: 100vw;
}
.middle_section_content{
    display: flex;
    gap: 4rem;
    margin: 0px auto;
    
}
.middle_text_section{
    padding: 4rem 0 1.8rem 6rem;
    max-width: 100vw;
}
.middle_heading_text_section{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #68c7df;
    padding-bottom: 2rem;
}
.middle_first_text-section{
    font-size: 20px;
    opacity: 0.65;
    font-weight: 300;
    text-align: left;
}
.middle_second_text-section{
    font-size: 20px;
    opacity: 0.65;
    font-weight: 300;
    text-align: left;
    padding-top: 1.5rem;
}
.middle_heading_text_section{
    font-size: 3rem;
}
.middle_video_section{
    margin-right: 0px;
}
.popup_video{
    position: relative;
}
.video_play_button{
    position: absolute;
    bottom: 200px;
    left: 50%;
    border: 0px solid transparent;
    padding: 0.5rem;
}
.care_middle_section{
    padding: 5rem 0 2rem 0;
}
.longcare_section{
    max-width: 1180px;
    margin: 0 auto;
}
.care_heading_section{
    text-align: left;
    font-size: 3rem;
    color: #68c7df;
    margin-bottom: 1rem;
}
.care_para_section{
    font-size: 20px;
    opacity: 0.65;
    font-weight: 300;
    text-align: left;
}
.care_secpara_section{
    font-size: 20px;
    opacity: 0.65;
    font-weight: 400;
    text-align: left;
    padding-top: 1.5rem;
}
a{
    text-decoration: none;
    color: #007b9a;
}
.second_flex_card_section{
    width: 100%;
}
.second_flex_card_div{
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 4rem auto 5rem auto;
}
.second_flex_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.1rem;
    padding: 0.5rem;
    height: 15.7rem;
}
.second_flex_card_image{
    height: 4.5rem;
    width: 4rem;
}
.second_flex_card_heading{
    font-weight: bold;
    color: rgb(78, 77, 77);
    font-size: large;
}
.second_flex_card_details{
    
    font-size: medium;

}
.second_flex_card:hover{
    .first_flex_card_button{
        display: block;
    }
   
}
.testimonial_section{
    width: 100%;
    background-color: rgb(241, 237, 237);
}
.testimonial_div{
    max-width: 1180px;
    padding-top: 3.5rem;
    margin: 0 auto;
}
.testimonial_heading{
    font-size: 3rem;
    text-align: left;
    color: #68c7df;
}
.testimonial_details{
    margin-top: 2rem;
    font-size: 20px;
    opacity: 0.65;
    font-weight: 300;
    text-align: left;
}
.testimonial_display_section{
    margin: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
.testimonial_button{
    padding: 0.5rem;
    outline: none;
    border: 0px solid black;
    background-color: white;
    font-size: 1rem;
    font-weight: -100;
    cursor: pointer;
    
}
.testimonial_button:hover{
    background-color: rgba(207, 207, 207, 0.932);
    opacity: 1;
}
.testimonial_image{
    height: 1.3rem;
    width: 1.3rem;
    opacity: 0.7;
}
.testimonial_display_section_tool_section{
 display: flex;
 gap: 0px;
}
.employee_details{
    width: 100%;
}
.employee_detail_background{
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 5rem 0;
}
.first_employee_details_columns{
    position: absolute;
    top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1FR);
    place-items: center;
    place-content: center;
    font-size: 9rem;
    color: #097fa0;
    opacity: 0.25;
    min-height: 100%;
}
.second_employee_details_column{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    place-content: center;
    font-size: 3rem;
    color: #065970;
    
    min-height: 100%;

}
.employee_number{
    display: flex;
    flex-direction: column;
}
.employee_text{
    font-size: 1rem;
    color: black;
}
.footer_container{
    width: 100%;
    background-color: #065970;
    position: relative;
}
.first_footer_section{
    max-width: 1300px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(7,1fr) ;
}
.first_footer_section:last-child{
    border-left: 3px solid rgba(250, 247, 247, 0.671);
}
.first_footer_inner_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.first_inner-footer_headings{
    color: white;
    font-weight: bolder;
}
.first_inner-footer_para{
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}
.first_inner-footer_para:hover{
    color: orange;
    opacity: 0.95;
}
.first_footer_inner_button_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.first_footer_button{
    background-color: white;
    min-width: 11rem;
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
}
.first_footer_button:hover{
    background-color: rgb(255, 184, 53);
    border: 1px solid rgb(255, 184, 53);
}
.second_footer_button{
    min-width: 11rem;
    background-color: transparent;
    padding: 0.5rem 2rem;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
}
.second_footer_button:hover{
    background-color: white;
    color: black;
}
.footer_social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.footer_icon{
    height: 1.5rem;
    width: 1.5rem;
}
.seccond_footer_section{
    margin: 0rem auto;
    padding: 1rem 0;
    color: white;
}
.contact_section{
    width: 100vw;
    background-color:rgb(255, 184, 53) ;
    display: none;
}
.contact_button{
    width: 100%;
    padding: 1rem 0;
    font-size: large;
    color: black;
    background-color: rgb(255, 184, 53);
    text-align: center;
    border: 0px solid black;
}
@media screen and (max-width: 1200px) {
    .form_card_section{
        display: none;
    }
    .middle_text_section{
        padding: 2rem;
    }
    .longcare_section{
        padding: 2rem;
    }
    .middle_section_content{
        flex-direction: column-reverse;
    }
    .middle_video_section{
        width: 100%;
    }
    .video_thumbnail_image{
        width: 100%;
    }
    .testimonial_section{
        padding: 2rem;
    }
    .first_flex_card_div{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 1rem;
        margin: 5rem auto;
        padding: 2rem;
    }
    .first_employee_details_columns{
        column-gap: 1rem;
    }
    .second_flex_card_div{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 1rem;
        margin: 1rem auto 4rem auto;
        padding: 2rem;
    }
    .employee_detail_background{
        padding: 2rem;
        padding-top: 0;
        margin-top: 0;
    }
}
@media screen and (max-width: 1000px) {
    .first_flex_card_div{
        grid-template-columns: repeat(2,1fr);
    }
    .second_flex_card_div{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
    }
    .testimonial_section{
        display: none;
    }
    .first_employee_details_columns{
        display: none;
    }
    .second_employee_details_column{
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        font-size: 4rem;
    }
    .employee_detail_background{
        padding:  0;
        padding-bottom: 3rem;
    }
    .second_employee_details_column{
        position: relative;
    }
    .first_footer_section{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
    }
    .seccond_footer_section{
        padding-bottom: 4rem;
    }
    .contact_section{
        display: block;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
}